[mysqld]
skip_name_resolve
bind-address            = 0.0.0.0
max_allowed_packet      = 16M
default_storage_engine  = InnoDB
innodb_buffer_pool_size = 512M # (adjust value here, 50%-70% of total RAM)
innodb_log_file_size = 64M

[mysql]
max_allowed_packet      = 16M

[mysqldump]
max_allowed_packet      = 16M
